/* Adjust the image size */
.product-info img {
    width: 80px; /* Increase the image size */
    height: auto;
    margin-right: 10px;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Width of the modal */
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Button styling for modal */
button {
    background-color: #DB7093; /* Your primary color */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #C85C7D; /* Slightly darker for hover */
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
 }
 
 .total span {
    margin-left: 10px; 
 }
 
 
 .cart th, .cart td {
    padding: 10px;
    text-align: center; 
 }
 
 
 
 .cart table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
 }
 
 .checkout {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
 }
 
 